*{
  box-sizing: border-box;
}
li{
  list-style: none;
}
ul{
  padding-inline-start: 0px;
  margin: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
.index-header{
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  height: 132px;
  padding-top: 49px;
  padding-right: calc(50% - 580px);
  padding-left: calc(50% - 580px);
}
.logo-link{
  display: inline-block;
  transition: .3s;
  margin-right: 225px;
}
.logo{
  display: inline-block;
}
.logo-link:hover{
  opacity: .8;
  transition: .3s;
}
.logo-link:active{
  opacity: .3;
  transition: .3s;
}
.index-header__nav{
  width: 100%;
  margin-top: 15px;
}
.index-header__list{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: flex-end;
}
.index-header__item{
  margin-right: 40px;
}
.index-header__item:last-child{
  margin-right: 0px;
  margin-left: auto;
}
.index-header__item_cart {
  position: relative;
  padding-left: 20px;
  flex-basis: 40%;
}
.index-header__item_cart::before {
  content: '';
  display: inline-block;
  background-image: url('img/cart-icon.svg');
  width: 15px;
  height: 15px;
  margin-right: 15px;
  position: absolute;
  top: 7px;
  left: 0;
}
.index-header__link{
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s;
}
.index-header__link:hover{
  color: #fb565a;
  transition: .3s;
}
.index-header__link:active{
  color: #000000;
  opacity: .3;
}
.visability-hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}
.slider-section{
  display: flex;
  padding-right: 9%;
  padding-left: 9%;
  height: 415px;
  background-color: #eeeeee;
}
.slider-item{
  display: flex;
  justify-content: center;
}
.slider-item__info{
  flex-basis: 50%;
}
.slider-item__info-tagline{
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}
.slider-item__info-text{
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 42px;
}
.slider-item__link{
  display: block;
  width: 240px;
  height: 50px;
  background-color: #fb565a;
  border-radius: 5px;
  color: #ffffff;
  transition: .3s;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding-top: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.slider-item__link:hover{
  background-color: #e74246;
  transition: .3s;
}
.slider-item__link:active{
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: #ffffff;
}
.jobs{
  padding-right: 9%;
  padding-left: 9%;
  height: 507px;
}
.jobs-list{
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
.jobs__heading{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.jobs__text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 250px;
}
.jobs__button{
  width: 160px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.jobs__button:active{
  box-shadow: none;
}
.button--red{
  background-color: #fb565a;
}
.button--red:hover{
  background-color: #e74246;
}
.button--red:active{
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}
.button--green{
  background-color: #00ca74;
}
.button-green:hover{
  background-color: #00bc6c;
}
.button-green:active{
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}
.button--yellow{
  background-color: #efc84a;
}
.button--yellow:hover{
  background-color: #eab534;
}
.button--yellow:active{
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}
