*{
  padding: 0px;
  margin: 0px auto;
  box-sizing: border-box;
  list-style: none;
}
body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
.index-header{
  background-color: #eeeeee;
  height: 130px;
}
.logo{
  margin-left: 140px;
  margin-top: 49px;
  margin-bottom: 0;
}
.logo-link{
  transition: .3s;
}
.logo-link:hover{
  opacity: .8;
  transition: .3s;
}
.logo-link:active{
  opacity: .3;
  transition: .3s;
}
.index-header__nav{
  margin-top: -35px;
  margin-left: 33%;
  margin-right: 140px;
}
.index-header__list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.index-header__item{
  margin: 0px;
  padding-left: 48px;
}
.index-header__link{
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s;
}
.index-header__link:hover{
  color: #fb565a;
  transition: .3s;
}
.index-header__link:active{
  color: #000;
  opacity: 0.3;
}
.index-header__item_cart{
  margin-left: auto;
  margin-top: -16px;
}
.index-header__item_cart::before{
  content: '';
  display: block;
  background-image: url('img/cart-icon.svg');
  width: 15px;
  height: 15px;
  position: relative;
  right: 35px;
  top: 22px;
}
.slider-container{
  height: 415px;
  width: 100%;
  background-color: #eeeeee;
}
